


 <div class="container">
    <div id="main">
    <h2 class="customh2 center">Explorer Our server</h2>
    </div>
    </div>


    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
                <div class="row blog">
                    <div class="col-md-12">
                        <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#blogCarousel" data-slide-to="1"></li>
                            </ol>

                            <!-- Carousel items -->
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->

                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#">
                                                <img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;">
                                            </a>
                                        </div>
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->

                            </div>
                            <!--.carousel-inner-->
                        </div>
                        <!--.Carousel-->

                    </div>
                </div>
    </div>
<a class="button " >Explore all </a>

<div class="bg3">
  <h2 class="customh21">TESTED , APPROVED & RECOMMENNED </h2>
  <h3 class="center">Capital</h3>
  <p>Myglam app takes up the much needed mantle <br> of beauty concierge in central london</p>
</div>
<h2 class="customh2 center">How it works ?</h2>
<div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/lights.jpg" target="_blank">
            <img src="/assets/images/ic_booking@1x.png" alt="Lights">
            <div class="caption">
            </div>
          </a>
          <br>
          <h5>Booking</h5>
          <p class="para5">Choose your service and fill <br> your availabilities and your location.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/nature.jpg" target="_blank">
            <img src="/assets/images/ic_payment@1x.png" alt="Nature">
            <div class="caption">
            </div>
          </a>
          <br>
          <h5>Payement</h5>
          <p class="para5">Set your payement link to confirm your <br>appointement.
            <br>Payement is 100% online via <br> a secure platform. </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/w3images/fjords.jpg" target="_blank">
            <img src="/assets/images/ic_meeting@1x.png" alt="Fjords">
            <div class="caption">

            </div>
          </a>
          <br>
          <h5>Meeting</h5>
         <p class="para5">The appointement, a moment for you, <br>
            with a passionate expert and <br> listening to your desires. </p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="customh2 center">WE ARE CLOSE TO YOU ON</h2>
  <div class="row classow">
    <div class="col">
      <div class="img-fluid">
        <img src="/assets/images/mobile_phones@1x.png" width="100%">
  </div>
  </div>
  <div class="col">
      <div class="row text-center ">
        <p class="para5 text-center margin5">Polish hurry and technophile...Three,two,one...Fire
        <br>Our app is available on your smartphones! You can also make an appointement on your mobiles
        <br>site.
        </p>
        </div>
        <div class="row text-center ">
            <div class="col">
                <div class="thumbnail">
                    <a href="/w3images/lights.jpg" target="_blank">
                      <img src="/assets/images/ic_available_app_store_norml@1x.png">
                    </a>
      </div>
    </div>
        <div class="col">
        <div class="thumbnail">
                    <a href="/w3images/lights.jpg" target="_blank">
                      <img src="/assets/images/ic_available_google_play_normal@1x.png">
                    </a>
      </div>
      </div>
       </div>
                <br>
                <div class="row">
                    <div class="col-6 mx-auto">
                      <div class="text-center">
                          <button type="button" class="bouton2">EXPLORE IT</button>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
        <div class=" cf bg2">
          <div class="col style text para6">
           SUBSCRIBE TO OUR NEWSLETTER
   </div>
   <br>
   <div class="col style text para2">
           Stay informed about us, news and events.
   </div>

    <div class="col-8 mx-auto">
   <div class="input-group input-group-lg margin6">

    <input type="text" placeholder="Enter your e-mail address" class="form-control text-center" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
    <div class="bouton3">
      <span id="inputGroup-sizing-lg">Send</span>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container stylenav1">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       Menu
    <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse margin7" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">

    <li class="nav-item listyle">
    <a class="nav-link " href="#projects" style="color:antiquewhite">OUR SERVICES</a>
    </li>
    <li class="nav-item listyle">
    <a class="nav-link " href="#section1" style="color:antiquewhite">OFFER</a>
    </li>
    <li class="nav-item listyle">
    <a class="nav-link " href="#signup" style="color:antiquewhite">MY ACCOUNT</a>
    </li>
    <li class="nav-item listyle">
    <a class="nav-link " href="#signup" style="color:antiquewhite">PRO</a>
    </li>
    <li class="nav-item listyle">
    <a class="nav-link " href="#signup" style="color:antiquewhite">CONTACT US</a>
    </li>

  </ul>
  </div>
 </div>
</nav>
<div class="container text-center margin8">
  <div class="row ">
      <div class="col-8 mx-auto">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="/assets/images/ic_facebook@2x.png" class="padR">
                  </a>
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="/assets/images/ic_twitter@2x.png" class="padR">
        </a>
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="/assets/images/ic_youtube@2x.png">
        </a>
    </div>
  </div>
</div>
</div>
</div>
